nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 5%;
}
body {
    font-family: sans-serif;
    background-image: url(BG1.jfif)
}

.text {
    width: 300px;
    position: absolute;
    top: 150px;
    left: 400px;

}

.text2 {
    width: 300px;
    position: absolute;
    text-align: right;
    top: 170px;
    left: 800px;
}
div {
    top: 70px;
    left: 400px;
}

.video-foto {
    display: flex;
    justify-content: space-around;
    gap: 120px;
}